.NavIcon {
  color: transparent;
}

.MuiToolbar-root {
  justify-content: center;
}

.clear-link {
  color: transparent;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  #root,
  body {
    background-color: black;
  }
} */

main {
  margin: 100px auto 0;
  max-width: 500px;
}

.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form {
  margin: auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul {
  padding: 0;
}

.beer-display {
  max-width: 800px;
}
